@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-light: #44c7f6;
  --color-brand-dark: #0037f0;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900;
  }
}
